body {
    background-color: floralwhite;
    text-align: center;
}

hr {
    width: 700px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

#start {
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}

#startGame {
    background-color: seagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    font-size: 16px;
}

.puzzle {
    width: 450px;
    height: 450px;
    
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
   
    /* background-color: linen ; */
}

.tile {
    width: 48px;
    height: 48px;
    border: 1px solid lightgrey;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-start {
    background-color: #f6eee2;
}

.horizontal {
    border-bottom: 1px solid black;
}

.vertical {
    border-right: 1px solid black;
}

.number {
    background-color: white;
    border: 1px solid black;
    margin: 2px;
    color: black;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    border-radius: 0px;
    font-size: 14px;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
    transition: all .5s ease;
}

.number:hover {
    background-color: #f0e3d0;
}

/* .num-select:hover {
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
  transition: all .4s ease; /* zoom in */
/* } */ 

.num-select {
    background-color: #f4eadc;
}

#submit {
    background-color: #e3c9a4;
    border: 1px solid black;
    color: black;
    padding: 10px 30px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    display: inline-block;
    font-size: 15px;
}

#submit:hover {
    background-color: #dfc197;
}

.restart-butt {
    background-color: #e3c9a4;
    border: 1px solid black;
    color: black;
    padding: 10px 15px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    font-size: 15px;
}

.restart-butt:hover {
    background-color: #dfc197;
}